body,
button,
h1 {
  padding: 0;
  margin: 0;
  color: #333;
  font-family: 'Josefin Sans', sans-serif;
}

.final {
  color: #2bb34a;
  font-weight: 700;
}

.time {
  font-size: 10rem;
}

.container {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.motivation {
  font-size: 2rem;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: -12px auto 12px;
}

button {
  text-align: center;
  background-color: #fff;
  border: 2px solid #333;
  font-weight: 700;
  width: 80px;
  height: 45px;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 2px inset #7b7b7b;
}
button:active {
  background-color: #f7f7f7;
}

h1 {
  font-size: 3rem;
  margin: 10px auto 0;
  text-align: center;
}
