$color-white:               #fff;
$color-grey-light:          #f7f7f7;
$color-grey-mid-light:      #b9b9b9;
$color-grey-dark:           #7b7b7b;
$color-black:               #333;


body,
button {
  padding: 0;
  margin: 0;
  color: $color-black;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.time {
  font-size: 10rem;
  white-space: pre;
  text-align: center;
}

small {
  font-size: 2rem;
  display: block;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 12px auto;

  + .button-container {
    height: 0;
  }
}

button {
  text-align: center;
  background-color: $color-white;
  border: 2px solid $color-black;
  font-weight: 500;
  width: 80px;
  height: 48px;
  cursor: pointer;
  border-radius: 48px;
  outline: none;

  &:disabled {
    background: linear-gradient(-45deg, $color-grey-mid-light 25%, $color-grey-light 25%, $color-grey-light 50%, $color-grey-mid-light 50%, $color-grey-mid-light 75%, $color-grey-light 75%, $color-grey-light);
    color: $color-grey-dark;
    cursor: not-allowed;
    background-size: 4px 4px;
  }

  &:not(:disabled) {
    &:hover {
      box-shadow: 0 0 5px $color-grey-dark;
    }

    &:active {
      box-shadow: 0 0 5px inset $color-grey-mid-light;
    }

    &:focus {
      outline: none;
    }
  }
}
